.Rproj.user
.Rhistory
.RData
.Ruserdata


# Deal with this in a more sensible way.

tests/testthat/fixtures/tutorial_examples/*html

inst/tutorials/*/*html

tutorial_files
tutorial.html

# The simple name of a file ignores that file wherever it might appear.

.DS_Store

revdep
doc
docs
/Meta/

/.quarto/
vignettes/.quarto

/doc/
