**/.git/**
**/.github/**
**/.vscode/**
node_modules/**/test/**
node_modules/**/docs/**
src/**
out/**
tmp/**
temp/**
.vscode-test/**
*.tsbuildinfo
**/*.map
.eslintrc.* 
eslint.config.mjs
tsconfig.json
esbuild.js
.vscode-test.mjs
